
.relative {
    /* This makes it so children in this container can set
    position: absolute relative to the parent. */
    position: relative;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    top: 100px;
    left: 30px;
}